{{<pascalType}}{{#isVarChar}}string{{/isVarChar}}{{#isBoolean}}boolean{{/isBoolean}}{{#isInteger}}integer{{/isInteger}}{{#isSmallInt}}integer{{/isSmallInt}}{{#isTimestamp}}TDateTime{{/isTimestamp}}{{#isDecimal}}Double{{/isDecimal}}{{#isclob}}string{{/isclob}}{{/pascalType}}
{{<field}}{{name}}:{{>pascalType}};
{{/field}}

T{{class}} = class 
{{#tableDef}}
//{{table}}
{{#fields}}
  {{>field}}{{/fields}}{{/tableDef}}
end;
